/* --------------------------------- *\

	strandhotel elements

\* --------------------------------- */




/* --------------------------------- *\

	hero

\* --------------------------------- */

.keyvisualsteadyhalf-stra {
	background-position: center center;
	background-size: cover;
	position: relative;
	width: 100%;
}

/* grid-item as on panoramaetage
-------------------------------- */

.grid-item {
	padding-bottom: 45px;
}

/* typo
------- */

#panorama h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing:.15em;
	color: #CCA55F;
	text-transform: uppercase;
	margin-top: 20px;
}

/* sand button
-------------- */

.btn-sand {
	background-color: #cca55f;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.15em;
	border-radius: 0;
	padding: 12px;
}

.btn-sand.focus, .btn-sand:focus {
    background-color: #cca55f;
    border-color: #122b40;
    color: #fff;
}
.btn-sand.active, .btn-sand:active, .btn-sand:hover {
    background-color: #cca55f;
    border: none;
    color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.btn-sand.active.focus, .btn-sand.active:focus, .btn-sand.active:hover, .btn-sand.focus:active, .btn-sand:active:focus, .btn-sand:active:hover {
    background-color: #cca55f;
    border-color: #122b40;
    color: #fff;
}




/* --------------------------------- *\

	facebook

\* --------------------------------- */

#facebook {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}




/* panels
--------- */

.panel-morada {
	border: none;
	background-color: #F2F2F2;
}

.panel-morada > .panel-heading {
	background-color: #C0392B;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.15em;
}

.panel-morada > .list-group > .list-group-item {
	background-color: #F2F2F2;
}




/* --------------------------------- *\

	responsive styles

\* --------------------------------- */

/* lg
----- */ 

@media (min-width: 1200px) {
	.keyvisualsteadyhalf-stra {
		height: 550px;
		background-image: url(../../images/hero/morada_strandhotel_1900.jpg);
	}
	
	#facebook {
		background: url("../../images/hero/the-sea.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	}
}

/* md
----- */

@media (min-width: 992px) and (max-width: 1199px) {
	.keyvisualsteadyhalf-stra {
		height: 500px;
		background-image: url(../../images/hero/morada_strandhotel.jpg);
	}
	
	#facebook {
		background: url("../../images/hero/the-sea_992.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	}
}

/* sm
----- */

@media (min-width: 768px) and (max-width: 991px) {
	.keyvisualsteadyhalf-stra {
		height: 400px;
		background-image: url(../../images/hero/morada_strandhotel_991.jpg);
	}
	
	#facebook {
		background: url("../../images/hero/the-sea_768.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	}
}

/* xs
----- */

@media (max-width: 767px) {
	.keyvisualsteadyhalf-stra {
		height: 400px;
		background-image: url(../../images/hero/morada_strandhotel_767.jpg);
	}
	
	#facebook {
		background: #F2F3C8;
	}
}

/* xs Portrait
-------------- */

@media (max-width: 479px) {
	.keyvisualsteadyhalf-stra {
		height: 360px;
		background-image: url(../../images/hero/morada_strandhotel_479.jpg);
	}
}