/* ================================= *\

	custom css
	v1.0	2015-08-31	jd
	
\* ================================= */




/* core overrides
----------------- */

body {
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
}

.lead strong {
	font-weight: 400;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

header {
	padding-bottom: 30px;
}

#appetizer {
	background: #F2F3C8;
	padding-bottom: 0;
}




/* typo
------- */

body {
	font-weight: 300;
}

a {
    color: #C0392B;
    text-decoration: none;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

h1, h2, h3 {
	font-weight: 300;
	margin-top: 0;
}

.section-header {
	border-bottom: 1px solid #363636;
}

.subhead {
	margin-top: 15px;
	color: #CCC;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
}

.display {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: .2em;
}

.serif {
	font-family: 'Playfair Display', serif;
}




/* color swatches
----------------- */

/* foreground */
.moradared {color: #b5152b;}
.metrored {color: #E74C3C;}
.metrored-dark {color: #C0392B;}
.metrosand {color: #CCA55F;}
.metrobrown {color: #7F673C;}
.white {color: #ffffff;}

/* background */
.moradared-bg {background-color: #b5152b; color: #ffffff;}
.metrogold-bg {background-color: #CCA55F; color: #ffffff;}
.white-bg {background: #FFF;}
.lightgrey-bg {background: #F2F2F2;}




/* --------------------------------- *\

	navbar

\* --------------------------------- */

.navbar-default {
	background-color: #ffffff;
}

.navbar-fixed-top {
	border-width: 0;
}

.navbar-fixed-top .navbar-brand {
	font-size: 12px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: .2em;
}




/* --------------------------------- *\

	hero

\* --------------------------------- */

.keyvisual .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

.keyvisualsteadyhalf {
	background-position: center center;
	background-size: cover;
	position: relative;
	width: 100%;
}




/* --------------------------------- *\

	kübomare

\* --------------------------------- */

#kuebomare {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}




/* --------------------------------- *\

	custom search

\* --------------------------------- */

.gsc-control-cse .gsc-table-result {
	font-family : inherit;
}

.gsc-control-cse .gsc-input-box {
	height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
	box-sizing  : content-box;
	line-height : normal;
	margin-top  : 0px;
}




/* --------------------------------- *\

	cards

\* --------------------------------- */

.carditem {
    background: #ffffff;
	margin-bottom: 30px;
}

.carditem hr {
    margin-bottom: 15px;
}

.carditem-body {
    margin-left: 15px;
    margin-right: 15px;
}

.carditem-footer {
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 0 15px 15px;
    text-align: right;
    text-transform: uppercase;
}




/* --------------------------------- *\
	
	weather

\* --------------------------------- */

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i.wetter {
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #363636;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}




/* --------------------------------- *\

	google maps

\* --------------------------------- */

#map .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

#map .container-fluid .row {
	margin-left: 0;
	margin-right: 0;
}
#map .container-fluid .row .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

#tripmap {
	width: 100%;
	height: 500px;
}

.markerlabel {
	color: #C0392B;
	background-color: white;
	font-size: 10px;
	text-align: center;
	font-weight: 700;
	padding: 2px;
}




/* --------------------------------- *\

	responsive styles

\* --------------------------------- */

/* lg
----- */ 

@media (min-width: 1200px) {
	.keyvisualsteadyhalf {
		height: 550px;
		background-image: url(../../images/hero/morada_kuehlungsborn_1900.jpg);
	}
	
	#kuebomare {
		background: url("../../images/hero/wellness.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	}
}

/* md
----- */

@media (min-width: 992px) and (max-width: 1199px) {
	.keyvisualsteadyhalf {
		height: 500px;
		background-image: url(../../images/hero/morada_kuehlungsborn.jpg);
	}
	
	#kuebomare {
		background: url("../../images/hero/wellness_992.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	}
}

/* sm
----- */

@media (min-width: 768px) and (max-width: 991px) {
	.keyvisualsteadyhalf {
		height: 400px;
		background-image: url(../../images/hero/morada_kuehlungsborn_991.jpg);
	}
	
	#kuebomare {
		background: url("../../images/hero/wellness_768.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	}
}

/* xs
----- */

@media (max-width: 767px) {
	.keyvisualsteadyhalf {
		height: 400px;
		background-image: url(../../images/hero/morada_kuehlungsborn_767.jpg);
	}
	
	#kuebomare {
		background: #F2F3C8;
	}
}

/* xs Portrait
-------------- */

@media (max-width: 479px) {
	.keyvisualsteadyhalf {
		height: 360px;
		background-image: url(../../images/hero/morada_kuehlungsborn_479.jpg);
	}
}